@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
html{
    height: 100%;
    scroll-behavior: smooth;
    
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: "Nunito", sans-serif ;
    
    

}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-brand{
    padding-left: 10rem;
    font-size: 16px;
    color: #6A6A6A !important;
    
}

.navbar-nav{
    padding-right: 3.5rem;
    text-indent: 1.5rem;
    font-size: 16px;
    
    
}
.bg-light{
    background-color: #FFFFFF !important;
}

.navbar-light .navbar-toggler{
    border-color: #FFFFFF;
}
.home-title{
    color: #2D936C;
    font-weight: bold;
}
.home-sub-title{
    color: #454851;
    font-weight: bold;
}
.home-h4-title{
    color: #E88D67;
    font-size: bold;
}
.search-box{
    border: 2px solid #2D936C;
    display: flex;
    border-radius: 10rem;
}
.search-input{
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 0.75rem;
    background: transparent;
    outline: 0;
    border: none;
}
.search-bar{
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    background: transparent;
    border-radius: 50%;
    background-color: #2D936C;
    width: 2.5rem;
    height: 2.5rem;


}
.search-button{
    color: #FFFFFF;
}
.search-button :hover{
    color:#454851;
}